html, body, div.container-fluid{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.login-form{
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    width: 350px;
}

.datatables tbody tr{
    cursor: pointer;
}

.datatables tbody tr:hover{
    background-color: rgb(110, 175, 214);
    color: white;
}

.main-content{
    overflow: auto;
    height: calc(100% - 56px);
}

.hidden{
    display: none;
}

.boxed-container{
    background-color: rgba(255,255,255,0);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}